/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.btn-container,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 50%;
  gap: 2vh;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
} */
